/* Подключение шрифтов */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff") format("woff"),
         url("../fonts/opensans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff") format("woff"),
         url("../fonts/opensanslight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff") format("woff"),
         url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff") format("woff"),
         url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

/* Стили */
body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;

    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

/* визуально скрытые элементы */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* HEADER */
a {
    text-decoration: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
}
.main-header {
    position: relative;
    min-height: 300px;
    margin-top: 40px;
    padding: 0 60px;
    background-color: rgba(240, 197, 46, 0.5);
}
.page-header-logo {
    position: absolute;
    top: -18px;
    left: 60px;
}
.main-header-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 34px;
    margin-bottom: 28px;
}
.search-form {
    position: relative;
    display: flex;
    width: 440px;
    margin-right: 100px;
    line-height: 30px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.16px;
}

input[type="search"]::-webkit-input-placeholder {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.16px;
    color: rgba(0, 0, 0, 0.3); 
}
input[type="search"]:-ms-input-placeholder {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.16px; 
    color: rgba(0, 0, 0, 0.3); 
}
input[type="search"]::-ms-input-placeholder {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.16px; 
    color: rgba(0, 0, 0, 0.3); 
}
input[type="search"]::placeholder {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.16px; 
    color: rgba(0, 0, 0, 0.3);
}
.search-form:hover input[type="search"]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6); 
}
.search-form:hover input[type="search"]:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6); 
}
.search-form:hover input[type="search"]::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6); 
}
.search-form:hover input[type="search"]::placeholder {
    color: rgba(0, 0, 0, 0.6); 
}
.search-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    background: url('../img/search.svg') no-repeat 5px 50%;
}
.main-header-search {
    position: relative;
    width: 355px;
    margin: 0;
    padding: 8px 0 8px 40px;
    line-height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
}
.main-header-search:focus {
    outline: none;
    border-bottom: 2px solid #000000;
}
.search-form .search-btn {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    text-transform: none;
    padding: 8px 18px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 300;
    color: #000000;
    background-color: transparent;
    border: 2px solid #000000;
    outline: none;
    visibility: hidden;
}
.search-btn:hover {
    background-color: #000000;
    color: #ffffff;
}
.search-btn:active {
    visibility: visible;
    background-color: #000000;
    color: rgba(256, 256, 256, 0.3);
}
.main-header-search:focus + .search-btn{
    visibility: visible;
}
.main-header-link {
    position: relative;
    color: #000000;
    letter-spacing: 0.15px;
    line-height: 30px;
    padding-left: 30px;
}
.main-header-link:hover {
    opacity: 0.6;
}
.main-header-link:active {
    opacity: 0.3;
}
.main-header-login {
    padding-left: 26px;
}
.main-header-login::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    background: url(../img/user.svg) no-repeat 0 50%;
}
.main-header-compare {
    margin-right: 30px;
    margin-left: auto;
}
.main-header-compare::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    background: url(../img/compare.svg) no-repeat 50% 50%;
}
.main-header-bucket::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    background: url(../img/cart.svg) no-repeat 50% 50%;
}
.main-header-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-header-menu > li:first-child {
    width: 250px;
    margin-right: 290px;
}
.main-header-item:first-child:hover .main-header-catalog {
    display: flex;
}
.main-header-item > a {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    line-height: 24px;
    color: #000000;
}
.main-header-item > a:hover {
    opacity: 0.6;
}
.main-header-item > a:active {
    opacity: 0.3;
}
.main-header-item:first-child a {
    position: relative;
}
.main-header-item:first-child > a::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    right: -27px;
    background-image: url(../img/plus.svg);
    opacity: 0.3;
}
.main-header-item:nth-child(2) {
    margin-right: 35px;
}
.main-header-menu > li:last-child {
    margin-left: auto;
}
.main-header-catalog {
    position: absolute;
    width: 1040px;
    padding: 20px 60px 35px;
    left: 0;
    display: none; 
    background-color: #f7e296;
    z-index: 3;
}
.catalog-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.catalog-item a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    color: #000000;
}
.catalog-item a:hover {
    opacity: 0.6;
}
.catalog-item a:active {
    opacity: 0.3;
}
.catalog-list.collumn-1 {
    width: 220px;
    margin-right: 20px;
}
.catalog-list.collumn-2 {
    width: 180px;
    margin-right: 20px;
}
.catalog-list.collumn-3 {
    width: 200px;
}

/* MAIN */
.slider.container {
    position: relative;
    top: -112px;
    margin-bottom: -20px;
}
.slider-list {
    padding: 0;
    margin: 0;
    list-style: none;

}
.slider-nav {
    position: absolute;
    right: 105px;
    bottom: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 110px;
    height: 24px;
    text-align: center;
}
.slider-item {
    display: none;
    min-height: 495px;
}

#product-1:checked ~ .container .slider-list .slider-item:nth-child(1) {
    display: flex;
}
#product-2:checked ~ .container .slider-list .slider-item:nth-child(2) {
    display: flex;
}
#product-3:checked ~ .container .slider-list .slider-item:nth-child(3) {
    display: flex;
}
#product-1:checked ~ .slider-nav .slider-controls-item--1::before,
#product-2:checked ~ .slider-nav .slider-controls-item--2::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 3px;
    height: 3px;
    margin: -2px;
    border: 1px solid #000000;
    border-radius: 50%;
}
#product-3:checked ~ .slider-nav .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 52%;
    top: 50%;
    z-index: 2;
    width: 3px;
    height: 3px;
    margin: -2px;
    border: 1px solid #000000;
    border-radius: 50%;
}
.slider-nav label {
    position: relative;
    display: inline-block;
    width: 11px;
    height: 11px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0;
}
.slider-nav label::after {
    content: "";
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid #000000;
}
.slider-item-1 {
    text-align: center;
    width: 560px;
}
.slider-item-2 {
    width: 560px;
    position: relative;
}
.slider-item-2::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 100px;
    height: 8px;
    background-color: #ffffff;
}
.slider-title {
    margin-bottom: 18px;
    margin-top: 80px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: 0.17px;
    position: relative;
    z-index: 2;
}
.slider-text {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    width: 490px;
    margin-bottom: 43px;
    letter-spacing: 0.15px;
}
.slider-wrapper {
    position: relative;
}
.slider-link.links {
    display: block;
    box-sizing: border-box;
    width: 220px;
}
.links {
    padding: 8px 42px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    font-weight: 700;
    font-family: "Gilroy", Arial, sans-serif;
    position: relative;
}
.links::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    background-color: #f0c52e;
    transform: translateY(-50%);
    height: 8px;
    transition: height .3s;
    z-index: -1;
}
.links:hover::after {
    height: 100%;
}
.links:active {
    color: rgba(0, 0, 0, 0.3);
}

.circle {
    display: inline-block;
    margin-right: 28px;
    vertical-align: middle;
}
.circle label {
    position: relative;
    font-size: 0;
}
.slider-checkbox:checked + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    padding: 1px;
    background-image: url(../img/slider-button.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.slider-checkbox + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    padding: 1px;
    background-image: url(../img/slider-button-empty.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.information {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 50px;
    margin-left: -2px;
}
.information tr:first-child {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
}
.information tr:last-child {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
}
.information td {
    width: 160px;
    padding: 0;
}
.information td:nth-child(2) {
    width: 140px;
}
.information-name td {
    padding-top: 7px;
}
.slider-item:nth-child(1)::after {
    content: "01";
    position: absolute;
    top: -13px;
    right: 47px;
    font-size: 180px;
    line-height: 180px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.36px;
}
.slider-item:nth-child(2)::after {
    content: "02";
    position: absolute;
    top: -13px;
    right: 47px;
    font-size: 180px;
    line-height: 180px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.36px;
}
.slider-item:nth-child(3)::after {
    content: "03";
    position: absolute;
    top: -13px;
    right: 47px;
    font-size: 180px;
    line-height: 180px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.36px;
    z-index: 0;
}
.slider-item:nth-child(3) .slider-item-1 {
    align-self: center;
}
.categories {
    margin-bottom: 65px;
}
.categories-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.categories-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}
.categories-image {
    background-color: rgba(240, 197, 46, 0.5);
    width: 160px;
    height: 160px;
    margin-bottom: 35px;
    position: relative;
}
.categories-image:hover {
    background-color: rgb(240, 197, 46);
}
.categories-item:active img {
    opacity: 0.3;
}
.categories-item:active p {
    opacity: 0.3;
}
.categories-image img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.categories-item:nth-child(2) img {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
}
.categories-item p {
    white-space: normal;
    width: 160px;
}
.services {
    min-height: 385px;
    margin-bottom: 95px;
    background-color: #e5e5e5;
    background-image: linear-gradient(to bottom,#fff 0,#fff 25%,#e5e5e5 25%,#e5e5e5 100%);
}
.services-item:nth-child(2):hover .services-description .description-delivery{
    display: none;
}









.services .container {
    display: flex;
    min-height: 320px;
}
.services-nav {
    display: flex;
    margin: 0;
    padding: 0;
    min-width: 277px;
    justify-content: center;
    flex-direction: column;
    border-right: 7px solid #000000;
    list-style: none;
}
.services-nav li {
    width: 100%;
    margin: 12px 0;
    padding: 0;
    text-align: center;
}
.services-item.active,
.services-item:active {
    background-color: #000000;
}
.services-item.active a,
.services-item a:active {
    color: #f7e184;
}
.services-link {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    display: block;
    width: 160px;
    padding: 8px 0;
    position: relative;
    color: #000000;
    z-index: 1;
}
.services-item:not(.active) .services-link:not(:active)::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: height .3s;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 8px;
    background-color: #f0c52e;
}
.services-item:not(.active) .services-link:not(:active):hover::after {
    height: 100%;
}
.services-description div {
    position: relative;
    width: 460px;
    margin-top: 70px;
    margin-left: 118px;
}
.services-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.24px;
    margin-bottom: 30px;
}
.services-text {
    letter-spacing: 0.15px;
}
.description-delivery::after {
    content: "";
    position: absolute;
    width: 260px;
    height: 320px;
    background: url(../img/delivery.svg) 50% 50% no-repeat;
    top: -68px;
    left: 490px;

}
.description-warranty::after {
    content: "";
    position: absolute;
    width: 260px;
    height: 320px;
    background: url(../img/warranty.svg) 50% 50% no-repeat;
    top: -68px;
    left: 490px;

}
.description-credit::after {
    content: "";
    position: absolute;
    width: 260px;
    height: 320px;
    background: url(../img/credit.svg) 50% 50% no-repeat;
    top: -68px;
    left: 490px;
}
.brands {
    margin-bottom: 105px;
}
.brand-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 100px;
    list-style: none;
}
.brand a {
    position: relative;
    display: block;
    width: 260px;
    height: 100px;
}
.brand a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 260px;
    height: 100px;
}
.brand-1:hover::before {
    background-image: url(../img/logo-1-color.png);
}
.brand-2:hover::before {
    background-image: url(../img/logo-2-color.png);
}
.brand-3:hover::before {
    background-image: url(../img/logo-3-color.png);
}
.brand-4:hover::before {
    background-image: url(../img/logo-4-color.png);
}

.about-us-wrapper.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.about-us {
    width: 560px;
    position: relative;
}
.about-us-title,
.contacts-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 45px;
}
.about-us-wrapper h2::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    top: -14px;
    left: 0;
    background-color: #000000;
}
.about-us p {
    width: 475px;
    margin-bottom: 30px;
}
.about-us-text,
.contacts-text {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    letter-spacing: 0;
}
.delivery-list {
    margin-top: 65px;
    margin-left: -3px;
    margin-bottom: 55px;
    list-style: none;
}
.delivery-list-item {
    position: relative;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0;
    color: #000000;
}
.delivery-list-item::before {
    position: absolute;
    content: "";
    top: 16px;
    left: -35px;
    width: 5px;
    height: 5px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
}
.about-us .links,
.contacts .links {
    display: block;
    width: 260px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.contacts {
    width: 560px;
    position: relative;
}
.contacts-text {
    margin-bottom: 38px;
}
.contacts-map{
    display: block;
    width: 560px;
    height: 222px;
    margin-bottom: 75px;
}
.main-footer {
    position: relative;
    padding-top: 65px;
    padding-bottom: 15px;
    background-color: #464646;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
.footer-logo svg {
    fill: #f0c52e;
}
.main-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-link-list {
    display: flex;
}
.footer-list-item {
    margin-left: 33px;
}
.footer-list-item a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    padding-left: 30px;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
}
.footer-list-item a:hover {
    color: rgb(255, 255, 255);
}
.footer-list-item a:active {
    color: rgba(255, 255, 255, 0.3);
}
.footer-list-item a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    display: block;
}
.footer-login::before {
    background: url(../img/user-footer.svg) no-repeat 50% 50%;
}
.footer-compare::before {
    background: url(../img/compare-footer.svg) no-repeat 50% 50%;
}
.footer-bucket::before {
    background: url(../img/cart-footer.svg) no-repeat 50% 50%;
}
.footer-list-item a:hover::before {
    opacity: 0.6;
}
.footer-list-item a:active::before {
    opacity: 0.3;
}
.footer-wrap-nav,
.footer-wrap-media {
    display: flex;
    align-items: baseline;
    margin-bottom: 45px;
}
.adress,
.footer-phone {
    width: 250px;
    text-align: left;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0;
    color: #ffffff;
}
.footer-nav {
    margin: 0 auto;
}
.footer-nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 425px;
}
.footer-nav-item a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}
.footer-nav-item a:hover {
    opacity: 0.6;
}
.footer-nav-item a:active {
    opacity: 0.3;
}
.footer-phone {
    width: 250px;
    text-align: right;
}
.footer-wrap-media {
    position: relative;
}
.footer-wrap-media::before {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
}
.footer-social-media {
    margin: 0 auto;
}
.social-list {
    display: flex;
    justify-content: space-between;
    width: 140px;
}
.social-btn img {
    opacity: 0.3;
}
.social-btn img:hover {
    opacity: 0.6;
}
.social-btn img:active {
    opacity: 0.1;
}
.html-academy-logo {
    width: 80px;
    text-align: right;
}
.html-academy-logo:hover {
    opacity: 0.6;
}
.html-academy-logo:active {
    opacity: 0.3;
}

/* стили для катога */
.inner-page header {
    min-height: 185px;
    margin-bottom: 35px;
}
.inner-page .page-header-logo:hover {
    opacity: 0.6;
}
.inner-page .page-header-logo:active {
    opacity: 0.3;
}
.main-header-user::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    background: url(../img/user.svg) no-repeat 0 50%;
}
.main-header-user {
    margin-right: 19px;
    padding-left: 27px;
}
.main-header-logout {
    padding-left: 0;
    opacity: 0.3;
}
.crumbs {
    margin-bottom: 45px;
    padding: 0 60px;
}
.main-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.17px;
    margin-bottom: 25px;
    color: #000000;
}
.crumbs-list {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
}
.crumbs-list,
.crumbs-list li {
    margin-right: 35px;
}
.crumbs-item a {
    position: relative;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0, 0.3);
}
.crumbs-item a:hover {
    color: rgba(0, 0, 0, 0.6);
}
.crumbs-item a:active {
    color: rgba(0, 0, 0, 0.1);
}
.crumbs-item:not(:last-child) a::after {
    position: absolute;
    content: "";
    top: 6px;
    right: -20px;
    width: 7px;
    height: 7px;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-radius: 50px 0 0;
    transform: rotate(-45deg) scale(.73);
}
.catalog-header {
    background-image: linear-gradient(to right,#dcdcdc 0,#dcdcdc 28%,#ebebeb 28%,#ebebeb 100%);
}
.catalog-header .container {
    display: flex;
}
.catalog-header-filter {
    width: 200px;
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #dcdcdc;
}
.catalog-header-filter h2,
.catalog-header-sort h2 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 3.5px;
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
}
.catalog-header-sort {
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 23px;
    flex-grow: 1;
}
.catalog-header-sort h2 {
    padding-left: 70px;
    width: 200px;
}
.catalog-header-sort ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    line-height: 18px; 
}
.catalog-header-sort-item {
    margin-right: 30px;
}
.catalog-header-sort-list {
    width: 460px;
}
.catalog-header-sort-item a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}
.catalog-header-sort-item a:hover {
    color:rgba(0, 0, 0, 0.6);
}
.catalog-header-sort-item.current a,
.catalog-header-sort-item a:active {
    color: #000000;
}
.catalog-header-sort .catalog-header-buttons {
    margin-left: auto;
}
.arrow {
    display: block;
    font-size: 0;
    margin-left: 18px;
}
.arrow:hover::before {
    opacity: 0.4;
}
.arrow:active::before {
    opacity: 1;
}
.arrow::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    opacity: 0.2;
    border: 12px solid #000000;
    border-right-width: 6px;
    border-left-width: 6px;
    border-left-color: transparent;
    border-right-color: transparent;
}
.arrow-up::before {
    border-top-width: 0;
}
.arrow-down::before {
    border-bottom-width: 0;
}
.catalog-content {
    background-image: linear-gradient(to right,#eee 0,#eee 28%,#fff 28%,#fff 100%);
}
.catalog-content .container {
    display: flex;
}
.filters {
    width: 330px;
    padding-left: 60px;
    padding-top: 70px;
    background-color: #eeeeee;
    box-sizing: border-box;
}
.filters-form {
    width: 200px;
    padding-right: 70px;
}
.filters-form fieldset {
    position: relative;
    margin: 0 0 32px;
    padding: 0;
    border: none;
}
.filters-form fieldset::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
}
.filters-form legend {
    font-family: "Gilroy", Arial, sans-serif;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-top: 12px;
    font-size: 18px;
    text-transform: none;
    color: #000000;
}
.filters-range-controls {
    position: relative;
    margin-top: 17px;
    margin-bottom: 8px;
}
.filters-range-controls .scale {
    height: 2px;
    background-color: #dbdbdb;
}
.filters-range-controls .bar {
    position: absolute;
    left: 0;
    width: 60%;
    height: 2px;
    background-color: #91c92f;
}
.range-btn {
    position: absolute;
    content: "";
    top: -9px;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.range-btn-min {
    left: -6px;
}
.range-btn-max {
    left: 115px;
}
.filters-form .price-label,
.filters-form .price-value {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border: none;
}
.filters-range input {
    width: 50px;
}
.price-value[name=min-price] {
    margin-right: 18px;
}
.filters-form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.colors-input-checkbox:checked + label::before {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0;
    content: "";
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;

}
.colors-input-checkbox + label::before {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}
.colors label,
.bluetooth-list label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    font-size: 14px;
    line-height: 40px;
}
.bluetooth-input-radio + label::before {
    content: "";
    left: 0;
    top: -5px;
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
}
.bluetooth-input-radio:checked + label::before {
    content: "";
    left: 0;
    top: -5px;
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
}
.bluetooth-input-radio + label:hover::before,
.colors-input-checkbox + label:hover::before {
    opacity: 0.6;
}
.filters-form .button {
    width: 100%;
    margin-top: 5px;
}
.button {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 8px 35px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2.15px;
    text-transform: uppercase;
    color: #000000;
    background-color: transparent;
    border: none;
}
.button:not(.search-btn)::after {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #f0c52e;
    transform: translateY(-50%);
    height: 8px;
    transition: height .3s;
}
.button:not(.search-btn):hover::after {
    height: 100%;
}
.button:not(.search-btn):active {
    color: rgba(0, 0, 0, 0.3);
}
.products {
    padding-top: 50px;
    padding-left: 50px;
}
.products-list {
    display: flex;
    margin: 0 0 -11px;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    width: 780px;
}
.products-item {
    position: relative;
    margin: 20px 20px 27px;
}
.img-wrap {
    position: relative;
}
.hover-items {
    display: none;
}
.img-wrap:hover img{
    opacity: 0.7;
}
.img-wrap:hover .hover-items{
    position: absolute;
    top: 175px;
    left: 80px;
    display: block;
    width: 200px;
}
.add-cart {
    width: 200px;
    margin-bottom: 20px;
}
.add-compare {
    width: 200px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border: none;
    background-color: transparent;
}
.add-compare:hover {
    color: #000000;
}
.add-compare:active {
    color: rgba(0, 0, 0, 0.2);
}
.products-info-container {
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin-top: 26px;
}
.products a {
    width: 260px;
    font-size: 18px;
    color: #000000;
    font-family: "Gilroy", Arial, sans-serif;
    line-height: 24px;
    font-weight: 700;
}
.products p {
    margin: 0 3px 0 0;
}
.product-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #464646;
    letter-spacing: 0.16px;
}
.products-item:nth-child(2n) {
    margin-right: 0;
}
.products-item .new::before {
    content: "new";
    position: absolute;
    top: 27px;
    right: 27px;
    width: 60px;
    height: 60px;
    padding: 17px 12px;
    font-family: "Gilroy", Arial, sans-serif;
    line-height: 24px;
    letter-spacing: 0.25px;
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.2);
    border: 3px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 3;
    text-transform: uppercase;
}
.navigation-list {
    display: flex;
    justify-content: space-between;
    width: 760px;
    min-height: 70px;
    box-sizing: border-box;
    margin: 20px 0px 75px 70px;
    padding: 23px 0;
    background-color: #ebebeb;
    list-style: none;
}
.navigation-list a {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}
.catalog-navigation-btn {
    padding: 28px 30px 28px 30px;
}
.catalog-navigation-btn:hover {
    background-color: #d8d8d8;
}
.catalog-navigation-btn:active {
    color: #979797;
}
.pages {
    display: flex;
    justify-content: space-between;
    min-width: 90px;
    margin: 0 0 0 15px;
    padding: 0;
    list-style: none;
}
.pages-item {
    opacity: 0.3;
}
.pages-item:hover {
    opacity: 0.6;
}
.pages-item:active,
.pages-item.current {
    opacity: 1;
}
.footer-user::before {
    background-image: url('../img/user-footer.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.footer-list-item .footer-logout {
    color: rgba(255, 255, 255, 0.3);
    padding-left: 0;
    margin-left: -15px;
}
.decor-line {
    width: 80px;
}


/* POPUP */
.modal {
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    z-index: 4;
}
.modal-form {
    width: 760px;
    padding: 96px 100px 80px;
    background-color: #ffffff;
    display: none;
}
.input-wrapper {
    display: flex;
    justify-content: space-between;
}
.modal-form .collumn-wrap {
    margin-bottom: 33px;
}
.write-us-form label,
.write-us-form input {
    display: block;
    width: 360px;
}
.modal-form label {
    margin-bottom: 5px;
}
.write-us-form label {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0;
    color: #000000;
}
.modal-form input,
.modal-form textarea {
    box-sizing: border-box;
    padding: 16px 20px;
}
.write-us-form input,
.write-us-form textarea {
    color: #000000;
    font-weight: 400;
    background-color: #f2f2f2;
    outline: 0;
    border: 2px solid transparent;
}
.write-us-form input:focus,
.write-us-form textarea:focus {
    outline: 2px solid #f7e296;
    background-color: #ffffff;
}
.write-us-form input:not(:focus):hover,
.write-us-form textarea:not(:focus):hover {
    background-color: #eaeaea;
}
.write-us-form input,
.write-us-form input:focus,
.write-us-form textarea,
.write-us-form textarea:focus {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
}
input[type="email"]:invalid {
    background-color: #f6dada;
}
.write-us-form .button {
    width: 200px;
    padding: 8px 35px;
    box-sizing: border-box;
}
.modal-form textarea {
    resize: none;
    min-height: 160px;
    width: 760px;
}
.close-modal {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 55px;
    height: 55px;
    font-size: 0;
    background-color: #f0c52e;
    opacity: 0.5;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
}
.close-modal:hover {
    opacity: 1;
}
.close-modal:active {
    opacity: 0.8;;
}

.close-modal::before,
.close-modal::after {
    position: absolute;
    content: "";
    top: 27px;
    left: 14px;
    height: 2px;
    width: 50%;
    background-color: #ffffff;
}
.close-modal::before {
    transform: rotate(45deg);
}
.close-modal::after {
    transform: rotate(-45deg);
}
.modal-map {
    height: 560px;
    width: 960px;
    display: none;
}
.modal-map iframe {
    position: relative;
    z-index: 2;
}
.modal-map img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}
@keyframes bounce{
    0% { transform: translateY(-1000px) translateX(-50%);}
    70% { transform: translateY(30px) translateX(-50%); }
    90% { transform: translateY(-10px) translateX(-50%); }
    100% { transform: translateY(0) translateX(-50%); }
}

.modal-show {
    
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}
@keyframes shake{
    0%, 100%               { transform: translateX(-50%) translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-50%) translateX(-10px); }
    20%, 40%, 60%, 80%     { transform: translateX(-50%) translateX(10px); }
}
.modal-error {
    animation: shake 0.6s;
}











