/* Подключение шрифтов */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff") format("woff"),
         url("../fonts/opensans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff") format("woff"),
         url("../fonts/opensanslight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff") format("woff"),
         url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff") format("woff"),
         url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

/* Стили */
body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;

    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

/* визуально скрытые элементы */
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.page-header {
    background-color: rgba(240, 197, 46, 0.5);
}

.page-header-search {
    position: relative;
    width: 355px;
    margin: 0;
    padding: 8px 0 8px 40px;
    line-height: 30px;
    border-bottom: 2px solid transparent;
}
input[type="search"] {
    background-color: transparent;
    border: none;
}

.search-btn {
    background-color: transparent;
    color: #000000;
    padding: 8px 18px;
    line-height: 30px;
    font-weight: 400;
    border: 2px solid #000000;
}

.search-btn:hover {
    background-color: #000000;
    color: #ffffff;
}
.search-btn:active {
    background-color: #000000;
    color: rgba(256, 256, 256, 0.3);
}


/* отключение маркеров списка */
.user-panel__enter,
.user-panel__basket,
.site-navigation__product,
.site-navigation__nav,
.path-list,
.filters-form-list,
.page-footer__enter,
.page-footer__basket,
.footer-navigation,
.social-media__list {
    list-style: none;
    padding-inline-start: 0;
}

.site-navigation {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    letter-spacing: 3.6px;
}

.site-navigation__products-class {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;

    list-style: none;

    display: none;
}

.user-panel__enter a,
.user-panel__basket a,
.site-navigation a {
    color: #000000;
}

.header-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.header-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 900;
    line-height: 48px;
}

.main-info__delivery {
    font-family: "Open Sans", Arial, sans-serif;
}

.main-info__delivery-list {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 40px;

    list-style-image: url('../img/list-slider-button.png');

    margin-top: 65px;
    margin-bottom: 60px;
}

.btn {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.page-footer {
    background-color: #464646;
    color: #ffffff;

    position: relative;
    padding-top: 60px;
    padding-bottom: 15px;
}

.page-footer a {
    color: rgba(256, 256, 256, 0.7);
}
.page-footer a:hover {
    color: #ffffff;
}
.page-footer a:active {
    color: rgba(256, 256, 256, 0.3);
}

.page-footer__enter,
.page-footer__basket {
    line-height: 36px;
}

.exit-btn {
    opacity: 0.3;
}

.footer-navigation a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-navigation a:hover {
    color: rgba(256, 256, 256, 0.6);
}

.footer-navigation a:active {
    color: rgba(256, 256, 256, 0.3);
}

.path a{
    font-size: 14px;
    line-height: 24px;
    opacity: 0.3;
    color: #000000;
}

.path a:hover{
    opacity: 0.6;
    color: #000000;
}

.path a:active{
    opacity: 0.1;
    color: #000000;
}

.form-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    color: #000000;
}

.filters-form li {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;   
}

.filters-button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2.15px;
}

.products-name {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
}

.products-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #464646; 
}

/* СЕТКА */
.header-wrap {
    width: 1160px;
    margin: 0 auto;
}
.page-header {
    position: relative;
    margin-top: 40px;
    padding: 0 60px;
    min-height: 300px;
}
.page-header-logo {
    position: absolute;
    top: -20px;
    left: 60px;
}

.header-navigation ul {
    margin-top: 0;
    margin-bottom: 0;
}
.user-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
    padding-top: 35px;
    align-items: baseline;
}
.user-panel__search {
    width: 445px;
    margin-right: 80px;
}

.user-panel__enter {
    display: flex;
    width: 240px;
    justify-content: space-between;
}
.user-panel__basket {
    display: flex;
    margin-left: 23px;
}

.user-panel a {
    display: block;
    padding-left: 30px;
     
}

.compare {
    margin-right: 35px;
}

.site-navigation__nav {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.site-navigation__nav > li:last-child {
    margin-left: 70px;
}

.main-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 80px;
    justify-content: space-between;
}

.main-info {
    width: 560px;
    
}

.main-container h2{
    margin-bottom: 43px;
    letter-spacing: 0.21px;
    
}

.main-contacts {
    width: 560px;
}

.main-contacts p{
    margin-bottom: 40px;
}
.main-info-text {
    width: 475px;
    margin-bottom: 30px;
}

.main-contacts-map {
    display: block;
    margin-bottom: 65px;
}

.footer-wrap {
    width: 1160px;
    margin: 0 auto;
}
.panel-wrap {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.catalog-panel-wrap {
    display: flex;
    justify-content: space-between;
    width: 480px;
}

.page-footer__user-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.page-footer__basket {
    display: flex;
    justify-content: space-between;
    width: 190px;
}

.page-footer ul {
    margin-top: 0;
}
.footer-info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.page-footer__nav {
    margin: 0 auto;
}
.footer-navigation {
    display: flex;
    width: 430px;
    justify-content: space-between;
    letter-spacing: 3.6px;
    margin-bottom: 0;
}
.footer-info-wrap p {
    width: 250px;
    margin-bottom: 50px;
}
.footer-info-wrap p:last-child {
    text-align: right;
}
.social-media{
    display: flex;
    justify-content: space-around;
}
.social-media__list {
    margin: 0 auto;
    display: flex;
}

.user-panel__enter .exit-btn {
    padding-left: 0;
    padding-right: 15px;
}
.path-wrap {
    width: 1160px;
    margin: 0 auto;
    padding-left: 60px;
}
.path-wrap .title {
    margin-bottom: 25px;
}
.path-list {
    display: flex;
    justify-content: flex-start;
    margin-right: 40px;
    margin-bottom: 50px;
}
.path-list li {
    margin-right: 40px;
}

.catalog-content {
    background-image: linear-gradient(to right,#eee 0,#eee 28%,#fff 28%,#fff 100%);
}
.catalog-wrap {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.filters {
    padding-top: 70px;
    padding-left: 60px;
    width: 330px;
    background-color: #eee;
}
.filters-form {
    padding-right: 70px;
    width: 200px;
}
.form-title {
    margin-bottom: 18px;
}
.filters-form-list {
    margin-top: 0;
    margin-bottom: 32px;
}
.produtcs-wrap {
    padding-top: 70px;
    padding-left: 70px;
}
.produtcs-list {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    justify-content: space-around;
}
.price-wrap {
    display: flex;
    justify-content: space-between;
    
}
.products-name {
    width: 250px;
    margin: 0;
}

.products-price {
    margin: 0;
}
.page-footer__enter {
    display: flex;
}

.catalog-user {
    padding-left: 30px;
    margin-right: 20px;
}